.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4efe7;
  padding: 20px 0px;
  font-family: Arial, sans-serif;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;


}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
  font-weight: bold;
}

.logoIcon {
  color: rgb(242, 108, 5);
  ;
}

.logoText {
  color: black;
}

.nav {
  display: flex;
  gap: 70px;
}

.navItem {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: rgb(242, 108, 5);
  ;
  font-weight: bold;
}

.searchBox {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 8px 15px;
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 220px;
  background-color: transparent;
  border: solid 2px rgb(217 217 217)
}

.searchInput {
  border: none;
  outline: none;
  flex: 1;
  font-size: 0.95rem;
  background-color: transparent;
}

.searchIcon {
  color: rgb(242, 108, 5);
}

.searchInput::placeholder {
  color: black;
}