.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4efe7;
  padding: 10px 0px;
  font-family: Arial, sans-serif;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.userName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 20px;
  color: rgb(242, 108, 5);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
  font-weight: bold;
}

.logoIcon {
  color: rgb(242, 108, 5);
}

.logoText {
  color: black;
}

.nav {
  display: flex;
  gap: 50px;
}

.navItem {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: rgb(242, 108, 5);
  font-weight: bold;
}

.searchBox {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 8px 15px;
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 220px;
  background-color: transparent;
  border: solid 2px rgb(217 217 217);
}

.searchInput {
  border: none;
  outline: none;
  flex: 1;
  font-size: 0.95rem;
  background-color: transparent;
}

.searchIcon {
  color: rgb(242, 108, 5);
}

.searchInput::placeholder {
  color: black;
}

.authButton {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 6px 12px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(242, 108, 5);
  transition: all 0.2s;
}

.authButton:hover {
  background-color: #f3eadb;
}

.logoutButton {
  background-color: rgb(242, 108, 5);
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: rgb(217, 89, 0);
  transition: background-color 0.3s;
}
