.container {
  padding: 24px;
  margin-bottom: 24px;
}

.card {
  background-color: var(--color-darksidebar--3);
  border-radius: 8px;
  padding: 40px 20px;
  border: 1px solid #656478;
  margin: 20px;
  overflow-x: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-left: 40px;
}

@media (max-width: 576px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }
}

.addButton {
  background-color: rgb(0, 196, 106);
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.addButton:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: var(--color-light--2);
  min-width: 800px;
  /* Ensures table doesn't get too squished */
}



.table th {
  background-color: #4d4e67;
  padding: 12px;
  border: none;
}


.last {
  border-top-right-radius: 8px;

}

.first {
  border-top-left-radius: 8px;
}

.table th,
.table td {
  text-align: center;
  border-left: 1px solid #656478;
}

.table tbody tr:nth-child(even) {
  background-color: var(--color-darksidebar--3);
  /* فضي داكن */
}

.table tbody tr:nth-child(odd) {
  background-color: #48485570;
  /* أسود أو شبه أسود */
}

.image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

/* حالة الفعالية */
.active {
  color: green;
  font-weight: bold;
}

.finished {
  color: orange;
  font-weight: bold;
}

.cancelled {
  color: red;
  font-weight: bold;
}

/* الأزرار */
.editButton {
  background-color: #1976d2;
  color: #fff;
  border: none;
  padding: 6px 10px;
  margin-right: 6px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}

.deleteButton {
  background-color: #d32f2f;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}

/* تعطيل الزر */
.deleteButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* سبينر عند الحذف */
.spinner {
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 1s linear infinite;
  margin-left: 6px;
  vertical-align: middle;
}

.scalable:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease;
  border-radius: 8px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}