.sidebar {
  background-color: var(--color-darksidebar--3);
  width: 270px;
  height: 100%;
  transition: width 0.3s ease;
  padding-top: 20px;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #f26c05;
  border-radius: 1px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: white;
}

.closed {
  width: 80px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.menuButton {
  cursor: pointer;
  color: rgb(242, 108, 5);
  font-size: 24px;
  padding: 0 20px 20px;
  display: flex;
  margin-bottom: 10px;
  gap: 75px;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 20px;
}

.menuItem {
  display: flex;
  align-items: center;
  color: var(--color-light--2);
  cursor: pointer;
  transition: 0.3s, color 0.3s;
  padding: 10px 10px 10px 20px;
  border-radius: 4px;
  margin: 0 10px;
  gap: 10px;
}

.menuItems {
  display: flex;
  position: relative;
  align-items: center;
  color: var(--color-light--2);
  transition: 0.3s, color 0.3s;
  padding: 10px 10px 10px 20px;
}

.filterLabel {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 17px;
  color: #fafafab3;
  gap: 10px;
  cursor: pointer;
  transition: color 0.2s ease;
  border-radius: 4px;
  padding: 10px 30px;
  margin-left: 9px;
  width: 93%;
}

.filterLabel:hover {
  background-color: #3a3b3c;
  color: white;
  transition: 0.3s, color 0.3s;
}

.filterInput {
  appearance: none;
  width: 17px;
  height: 17px;
  border: 2px solid #f26c05;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  position: relative;
}

.filterInput:checked {
  background-color: #f26c05;
  border-color: #f26c05;
}

.filterInput:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.subItem {
  padding-left: 20px;
}

.menuItem:hover {
  background-color: #3a3b3c;
  color: white;
  transition: 0.3s, color 0.3s;
}

.active {
  background-color: rgba(242, 108, 5, 0.2);
  color: white;
}

.icon {
  font-size: 25px;
  color: #f26c05;
}

.closedicon {
  font-size: 25px;
  color: #f26c05;
  margin-right: 7px;
}

.dropDownIcon {
  font-size: 18px;
  left: 25px;
  position: absolute;
}

.label {
  font-size: 16px;
  white-space: nowrap;
}

.label2 {
  font-size: 20px;
  margin-left: 5px;
  position: relative;
  transform: translateY(-5px);
}

.labelofgovrment {
  font-size: 16px;
  white-space: nowrap;
  color: #fafafab3;
  margin-right: 10px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  padding: 12px 20px;
}

.detailsBox {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 15px;
  margin: 30px 20px;
  border-radius: 10px;
  /* box-shadow: 0 0 5px rgba(255, 255, 255, 0.1); */
  text-align: center;
}

.detailsButton {
  margin-top: 10px;
  background-color: #f26c05;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.detailsButton:hover {
  background-color: #d65a00;
}

.iconWrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: #1e1e2f;
  color: #fff;
  font-size: 13px;
  padding: 8px 12px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  right: 135%;
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menuItem:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateY(-50%) translateX(5px);
}

/* السهم الصغير */
.tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent var(--color-light--2);
}

.label2::after {
  content: "Map";
  position: absolute;
  top: 19px;
  left: -3px;
  font-size: 15px;
  margin-left: 5px;
  color: #ffffff8f;
}

.subMenu {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

/* عند الفتح */
.subMenu.open {
  max-height: 600px;
  opacity: 1;
  transform: translateY(0);
}

/* عند الإغلاق */
.subMenu.closed {
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
}

/* تدوير السهم */
.dropDownIcon {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

/* فلترة */
.filtersWrapper {
  display: flex;
  flex-direction: column;
}
