.container {
  padding: 1rem;
  border-radius: 12px;
  max-width: 100%;
  width: 100%;
}

.heading {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--color-light--2);
  text-align: center;
}

.charts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .charts {
    grid-template-columns: 1fr 1fr;
  }

  .container {
    padding: 1rem;
  }

  .heading {
    font-size: 1.5rem;
  }
}

.chartBox {
  background-color: var(--color-dark--1);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
}

.chartBox h3 {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  color: var(--color-light--2);
  text-align: center;
}

.description {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 0.75rem;
  text-align: center;
}

.chartBox p {
  color: var(--color-light--3);
  font-size: 0.85rem;
  text-align: center;
  margin: 0.5rem 0;
}

@media (min-width: 768px) {
  .chartBox {
    padding: 1rem;
  }

  .chartBox h3 {
    font-size: 1.1rem;
  }

  .description {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .chartBox p {
    font-size: 0.9rem;
    margin: 0.75rem 0;
  }
}

@media (min-width: 1024px) {
  .charts {
    gap: 1rem;
  }

  .chartBox {
    padding: 1rem;
  }
}

.topPlaces {
  background-color: var(--color-dark--1);
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
}

.topPlaces h3 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-light--2);
}

.topPlaces ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.topPlaces li {
  margin-bottom: 0.5rem;
  color: var(--color-light--3);
}

@media (max-width: 768px) {
  .charts {
    grid-template-columns: 1fr;
  }
}
